.productinfo{
    width: 100%;
    height: 99vh;
}
.product-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 3rem 1rem;
}
.main-info{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 60%;
    padding-right: 5%;
}
.product-data{
    display: flex;
    flex-direction: column;
    padding: 2rem 0;
}
.product-data h3{
    width: 60%;
    font-size: 1.5rem;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.product-data h5{
    width: 60%;
    font-size: 1.5rem;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 3.5rem 0 2rem 0;
    color: #c22525;
}
.pro-model{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.pro-model span{
    width: 90px;
    height: 35px;
    border: 1px solid #c2bebe;
    border-radius: 5px;
    text-align: center;
    margin: 0 1rem;
}
.pro-model span p{
    font-size: 1.3rem;
}
.pro-cta{
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    margin: 1.5rem 0;
}
.cta-buy{
    background-color: #c22525;
    width: 260px;
    height: 38px;
    border: 2px solid #c22525;
    outline: none;
    color: #fff;
    font-size: 1.5rem;
    border-radius: 5px;
    padding: 0 0 .5rem 0;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    cursor: pointer;
}
.cta-buy:hover{
    background-color: #fff;
    color: #c22525;
}
.pro-fav{
    font-size: 3rem;
    color: #bbb7b7;
    margin: 0 1.8rem;
    cursor: pointer;
}
.cta-report{
    background-color: #fff;
    color: #c22525;
    border: 2px solid #c22525;
    border-radius: 5px;
    font-size: 1.5rem;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 70px;
    height: 38px;
    cursor: pointer;
    margin: .8rem 0;
}
.cta-report:hover{
    background-color: #c22525;
    color: #fff;
}
.pro-red{
    color: #c22525;
}
.cta-share{
    font-size: 3rem;
    color: #bbb7b7;
    cursor: pointer;
}
.extra-info{
    width: 40%;
    padding: 1rem;
    color: #444242;
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.extra-info-content{
    overflow-y: auto;
    height: 400px;
}
.extra-info-content h2{
    width: 60%;
    font-size: 1.6rem;
}
.extra-info-content h3{
    margin: 2.5rem 0;
    font-size: 1.5rem;
}
.item{
    margin: 2rem 0;
}
.item h5{
    font-size: 1.3rem;
}
.item p{
    font-size: 1.3rem;
    padding-top: .5rem;
}

@media screen and (max-width: 1000px) {
    .product-container{
        flex-direction: column;
    }
    .main-info{
        width: 90%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin:  0 auto;
    }
    .product-data{
        align-items: center;
    }
    .pro-cta{
        flex-wrap: wrap;
    }
    .cta-share{
        margin: .5rem 0;
    }
    .pro-model{
        flex-wrap: wrap;
    }
    .pro-model span{
        width: 100px;
        height: 35px;
        border: 1px solid #c2bebe;
        border-radius: 5px;
        text-align: center;
        margin: .5rem 1rem;
    }
    .extra-info{
        width: 100%;
        margin-top: 2rem;
        padding: 0 2rem;
    }
}