.card-container{
    display: flex;
    flex-direction: column;
    width: 220px;
    height: 420px;
    background-color: #fff;
    margin: 1rem;
    padding: 1rem;
    border-radius: 5px;
    box-shadow: 0px 0px 17px -11px #000000;
}
.card-img{
    max-width: 200px;
    margin: 0 auto;
}
.card-img img{
    width: 100%;
}
.card-title{
    font-family:  'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1.07rem;
    line-height: 1.5;
    margin: 1rem auto;
    cursor: pointer;
    
}
.card-title h3{
    color: #161616;
}
.card-title h3:hover{
    color: #df2e2e;
}
.card-price{
    margin-top: 2.5rem;
    font-size: 1.35rem;
}
.card-shop-number{
    font-size: 1.35rem;
    margin: 1rem 0;
}
.card-icon{
    margin: .5rem auto 0 auto;
}
.card-icon i{
    font-size: 2rem;
    cursor: pointer;
}
.red-fav{
    color: #c22525;
}